@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fffcf9;

}

:root {
  --main-color: #954e1c;
  --main-color-op: #954e1c6c;
  --color-primary: rgb(113, 113, 113);
}

.container {
  width: 80vw;
  margin: auto;
}

nav {
  background: #fff;
  height: 4rem;
  padding: 15px 0;
  box-shadow: 0px 0px 8px 8px rgb(0, 0, 0, .1);
  transition: 500ms;
  overflow: hidden;
}
.height-r{
  height: 13rem;
}
nav h1 {
  color: var(--main-color);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.col-middle ul li {
  display: flex;
  margin: 0 .75rem;
  letter-spacing: 3px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: 300;

}

.col-middle ul li a:hover {
  color: var(--main-color);
}

.col-middle ul li a {
  color: var(--color-primary);
  transition: 400ms;
}

.col-middle ul {
  display: flex;
}

.col-middle {
  display: flex;
}

.col-right i {
  font-size: 20px;
  color: var(--main-color);
  margin-left: 1.75rem;
  transition: 500ms;
  cursor: pointer;
}

.col-right i:hover {
  color: var(--main-color-op);
}

.col-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-toggle {
  display: none;
}
.hidden{
  display: none;
}
.mobile-nav ul li{
  margin: 10px 0;
  transition: 350ms;
  width: calc(fit-content + 15px);

}
.mobile-nav ul li a{
  color: var(--color-primary);
  letter-spacing: 3px;

}
.mobile-nav ul li:hover{  
  transform: translateX(15px);
  border-bottom: 1px solid var(--main-color);
}
.mobile-nav ul li:hover a{
  color: var(--main-color);
}
.mobile-nav{
  margin-top: 20px;
}
/* media queries */

@media (max-width:1024px) {
  nav h1 {
    font-size: 22px;
  }

  .col-right i {
    font-size: 16px;
    color: var(--main-color);
    margin-left: 1.25rem;
    transition: 500ms;
    cursor: pointer;
  }

  .col-middle ul li {
    display: flex;
    margin: 0 .5rem;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 300;
    font-size: 15px;
  }

  .nav-toggle {
    display: none;
  }
}

@media (max-width:769px) {
  nav h1 {
    font-size: 20px;
  }

  .col-middle ul li {
    display: flex;
    margin: 0 .5rem;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 300;
    font-size: 14px;
  }

  .col-right i {
    font-size: 16px;
    color: var(--main-color);
    margin-left: 1rem;
    transition: 500ms;
    cursor: pointer;
  }

  .nav-toggle {
    display: none;
  }
}

@media (max-width:699px) {
  .nav-toggle {
    display: flex;
    align-items: center;
  }

  .nav-toggle i {
    font-size: 22px;
    color: var(--main-color);
    transition: 500ms;
  }
  .col-middle {
    display: none;
  }

  .col-right {
    display: none;
  }
}